{% extends "base.html" %}
{% from 'components/info_popover.html' import show_work_btn %}

{% block content %}
<div class="container-fluid py-4">

    {% include "dashboard/_header.html" %}

    {% include "dashboard/_bsta_temporal.html" %}

    {% include "dashboard/_score_overview.html" %}

    {% include "dashboard/_score_provenance.html" %}

    {% include "dashboard/_category_biological.html" %}

    {% include "dashboard/_category_natural_hazards.html" %}

    {% include "dashboard/_category_environmental.html" %}

    {% include "dashboard/_category_hazardous_materials.html" %}

    {% include "dashboard/_category_public_safety.html" %}

    {% include "dashboard/_category_community.html" %}


{% include "dashboard/_modals.html" %}

{% include "dashboard/_scripts.html" %}
{% endblock %}
